<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764005447561-8o9qcn069o54g0ah6vclc3qf620p5t06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764005447561-8o9qcn069o54g0ah6vclc3qf620p5t06</string>
	<key>API_KEY</key>
	<string>AIzaSyBOdMoAnB2bFmz6X6RlT-geq3V-aCDS15Q</string>
	<key>GCM_SENDER_ID</key>
	<string>764005447561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jiamingchou.ReciPlease</string>
	<key>PROJECT_ID</key>
	<string>reciplease-b5010</string>
	<key>STORAGE_BUCKET</key>
	<string>reciplease-b5010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:764005447561:ios:e447ac91fbcd4560bad358</string>
	<key>DATABASE_URL</key>
	<string>https://reciplease-b5010.firebaseio.com</string>
</dict>
</plist>
